.R2{
   /* background:repeating-linear-gradient(to top,#fffbd6,#fffbd6 6px, #fffde5 6px,#fffde5 20px); */
   border-style:solid ; 
}


.R3{ 
  border-style:none solid dotted; 
  border-width:3px;    
}

.title{
  font-weight:bold;
  font-size:20px;
  border-left:solid  rgba(28, 31, 177, 0.993);
  background-color:seashell;
  margin-left:5px;
}

.nobi{
  font-weight:bolder;
  color:brown;
  text-decoration:underline wavy yellow;
}